.social-icons a{
    width: 40px;
    height: 40px;
    text-indent: -99999px;
  }
  
  ul{
      list-style: none;
  }
  ul li{
      display: inline;
  }
  
  .github-icon{
    background-image: url(github.png);
  }
  
  .twitter-icon{
    background-image: url(twitter.png);
  }
  
  .linkedin-icon{
    background-image: url(linkedin.png);
  }